@using ErehwonMvc.Enums
@using ErehwonMvc.Helpers
@model ErehwonMvc.Models.PlotAvailabilityModel

<div class="col-md-12">
    @{
        //Set plot image

        var imgPath = ViewHelpers.GetPlotImage(@Model.PlotCategoryId, ImageType.Thumbnail);

        // Set percentage bar
        var percentage = (@Model.PurchasedHectares/@Model.TotalHectares) * 100.0;
    }
    <img class="col-md-4" alt="Plot Image" src="@imgPath" />
    <div class="col-md-8">
        <h4>Purchased</h4>
        <div class="progress">
            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40"
                 aria-valuemin="0" aria-valuemax="100" style="width:40%">
                @($"{percentage:0.00}") %
            </div>
        </div>
    </div>

</div>
