@using ErehwonMvc.Helpers
@model ErehwonMvc.Models.PlotAvailabilityModel

<div class="col-md-12">
    @{
        //Set plot image

        var imgPath = ViewHelpers.GetPlotThumbnail(@Model.PlotCategoryId);

        // Set percentage bar
        var percentage = (@Model.PurchasedMeters/@Model.TotalHectares) * 100.0;
    }
    <img class="col-md-4" alt="Plot Image" src="@imgPath" />
    <div class="col-md-8">
        <h4>Purchased m<sup>2</sup></h4>
        <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%">
            <span class="sr-only">100 </span>
        </div>
    </div>
    <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%">
        <span class="sr-only">100 </span>
    </div>
</div>
