@using System.ServiceModel.Syndication
@using ErehwonMvc.ApiController
@using ErehwonMvc.Helpers
@using ErehwonMvc.Models
@{
    ViewBag.Title = "Erehwon Lands";
}

<div class="jumbotron">
    <h1>Erehwon Lands</h1>
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="/Plot/1" data-slide-to="0" class="active"></li>
            <li data-target="/Plot/2" data-slide-to="1"></li>
            <li data-target="/Plot/3" data-slide-to="2"></li>
            <li data-target="/Plot/4" data-slide-to="3"></li>
            <li data-target="/Plot/5" data-slide-to="0"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">                                        
            @{
                var pcc = new PlotCategoryController();
                var categories = pcc.Get();
                var count = 0;

                var OrderHelpers = new OrderHelpers();
                var ViewHelpers = new ViewHelpers();

                foreach (var plotCategory in categories)
                {
                    var img = ViewHelpers.GetPlotImage(plotCategory.PlotCategoryID, ErehwonMvc.Enums.ImageType.Carousel);

                    var divClass ="item";

                    if (count == 0)
                    {
                        divClass = "item active";
                    }

                    <div class="@divClass">
                        <a href="/PlotDetail/Plot/@(count+1)"><img src="@img" alt="img" class="img-responsive center-block"></a>
                    </div>
                    count++;
                }
            }
        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Most popular blocks</h2>
        <p>
            Should show the most popular
        </p>
    </div>
    <div class="col-md-4">
        <h2>Recently purchased blocks</h2>
        <div id="pruebamesta">
            @{
                var test = new PlotDetailModel();
                test.PlotName = "My Plot";
                test.Hectares = 1000;
                test.PlotDescription = "My Desc";
                test.PlotCategoryId = 1;
            }
            @Html.Partial("~/Views/PlotDetail/Plot.cshtml", test)
        </div>
    </div>
    <div class="col-md-4">
        <h2>Availability</h2>
    @{
        var plotAv = OrderHelpers.GetPlotAvailability();
        foreach (var category in categories)
        {
            var availability = new PlotAvailabilityModel()
            {
                PlotDescription = category.PlotCategoryDescription,
                TotalHectares = category.TotalHectares.Value,
                PlotCategoryId = category.PlotCategoryID,
                PurchasedHectares = plotAv[category.PlotCategoryID]
            };
            @Html.Partial("~/Views/PlotAvailability/PlotAvailability.cshtml", availability);
        }

    }
        <p class="text-right">*Estimated percentage of land available</p>
    </div>
</div>
