@using ErehwonMvc.Models

@model ErehwonMvc.Models.Order
@{
    ViewBag.Title = "Order";
}


<h2>My Current Order</h2>
@{
    
}
<p>Show orders</p>

<button class="btn btn-success btn-lg">Complete Order</button>

